.cus-article-bkg
  display: none !important

a, 
.widget.text .content a 
  color: #abb2bf 
  &:hover 
    color: #ff5722 


.references, 
.related_posts,
.copyright blockquote,
#l_body #s-top.show.hl 
    background: var(--color-block) !important

hr.menuLoad-Content
  background: var(--color-p)