<div style="display: none;">
  <img no-lazy style="display:none" src=" " onerror="this.onerror=null;var str1='ink'+'ss'+'.cn',str2='document.location.host',str3=eval(str2);if(str1!=str3&&str3!='localhost:5500'&&str3!='localhost:4000'&&str3!='live.szyink.com'){do_action='location.href=location.href.replace(document.location.host,'+'\'ink'+'ss'+'.cn\''+')';eval(do_action)}" />
  <script>
    if(document.location.href.startsWith('http://inkss.cn')) location.href=location.href.replace('http://'+document.location.host,'https://inkss.cn')
  </script>
</div>